
body {
  background-color: #1e1e1e;
}
.App {
  text-align: center;
}

table {
  margin: 3% auto;
  color: white;
  background-color: black;
  border-collapse: collapse;
}
 th,
 td {
  border: 1px solid lightgrey;
  padding: 5px;
}
